{% extends "base.html" %}

{% block content %}

    <h3>user login page</h3>
    <form action="/login" method="post">
        <div class="row">
            <div class="col-4">
                <textarea class="form-control" rows="5" cols="20" name="prompt" id="prompt"></textarea>
                username: <input type="text" name="username">
                <br>
                password: <input type="password" name="password">
                <br>
                <div id="login-response"></div>
                <button type="button" id="submit-btn" class="btn btn-primary">login</button>
            </div>

        </div>

    </form>
{% endblock %}

{% endblock %}
