{% extends "base.html" %}

{% block content %}

    <style>
        #generated-output{
            padding: 10px;
            background-color: #eee;
            margin-top: 30px;
        }
    </style>
    <h3>My ChatGPT Application</h3>
    <form action="/generate_text" method="post">
        <div class="row">
            <div class="col-10">
                <textarea class="form-control" rows="5" cols="20" name="prompt" id="prompt"></textarea>
            </div>
            <div class="col-2">
                <br>
                <button type="button" id="submit-prompt" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <div id="generated-output">AI Generated Text</div>
    </form>
{% endblock %}

{% block my_javascript %}
<script type="text/javascript">
    $(function (){
        $('#submit-prompt').click(function (){
            var promptValue = $('#prompt').val();
            if(promptValue.trim() === "") {
            alert("Please input the prompt");
            $('#submit-prompt').prop('disabled', false);
            return;
            }
            $('#submit-prompt').prop('disabled', true)
            $('#generated-output').html("Loading...");

            // The following code is to generate streamed output, which can obtain a better
            // user interation.

            var source = new EventSource("/generate_text?prompt="+$('#prompt').val())
            var begin_output = false
            source.onmessage = function (event){
                if(begin_output === false){
                    begin_output = true
                    $('#generated-output').html("")
                }
                if(event.data == "[DONE]"){
                    $('#submit-prompt').prop('disabled', false)
                    source.close()
                }else{
                    $('#generated-output').html($('#generated-output').html() + event.data)
                }
            }

            // Uncomment the following code if you want to wait a moment for the full content of the
            // answer to be returned in its entirety.

            // $.ajax({
            //     url:'/generate_text',
            //     type:'POST',
            //     data:{
            //         'prompt': $('#prompt').val()
            //     }
            // }).done(function(data) {
            //     $('#submit-prompt').prop('disabled', false)
            //     $('#generated-output').html(data);
            // });
        });
    });
</script>

{% endblock %}
